* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background: rgb(154, 166, 128);
	color: black;
	/* font-family: Arial, Helvetica, sans-serif; */
	font-family: segments;
	font-size: 40px;
}
.heart-box {
	display: inline-block;
	width: 95px;
	height: 50px;
}

/*Нет елементов с id game, но если удалить эти стили, то вся разметка едет*/
#game {
	/* padding-top: 20px; */
	height: 607px;
	width: 307px;
	font-size: 40px;
	margin: auto;
}

.game-container {
	width: 320px;
	height: 620px;
	margin: auto;
	width: 50%;
}

.pause-cover {
	width: 307px;
	height: 607px;
	margin: 20px auto 0;
	border: 3px solid black;
	font-size: 50px; /*Без него между ячеками образуется пространство*/
	/* background-color: gray; */
	background: rgb(154, 166, 128);

	display: none;
	text-align: center;
	justify-content: center;
	align-items: center;
	position: absolute;
	z-index: 1;
}

.pause-cover * {
	margin: 100px auto;
}

.manual {
	margin: auto;
	font-size: 20px;
}

.container {
	margin: auto;
	width: 60%;
	display: flex;
	flex-direction: row-reverse;
}

.control-panel {
	margin: auto;
	width: 20%;
}

.main {
	width: 307px;
	height: 607px;
	margin: 20px auto 0;
	border: 3px solid black;
	font-size: 0; /*Без него между ячеками образуется пространство*/
	background: rgb(154, 166, 128);
	z-index: 0;
	position: absolute;
}

.cell {
	width: 30px;
	height: 30px;
	border: 1px solid silver;
	display: inline-block;
	background-color: black;
	will-change: opacity;
}

#next-tetro {
	font-size: 0;
	height: 120px;
	width: 120px;
}

#game-over {
	width: 307px;
	height: 607px;
	margin: 20px auto 0;
	border: 3px solid black;
	font-size: 40px; /*Без него между ячеками образуется пространство*/
	background: rgb(154, 166, 128);
	display: none;
	text-align: center;
	justify-content: center;
	align-items: center;
	position: absolute;
	z-index: 1;
}

#game-over * {
	margin: 100px auto;
}

@font-face {
	font-family: 'segments';
	src: url(./fonts/7-segment.ttf);
	font-weight: 100;
}
