* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background: rgb(154, 166, 128);
	color: black;
	/* font-family: Arial, Helvetica, sans-serif; */
	font-family: segments;
}
.heart-box {
	display: inline-block;
	width: 95px;
	height: 50px;
}

#game {
	padding-top: 20px;
	font-size: 40px;
	width: 320px;
	margin: auto;
}

.pause-cover {
	width: 320px;
	height: 620px;
	margin: 20px auto 0;
	border: 10px solid silver;
	font-size: 50px; /*Без него между ячеками образуется пространство*/
	background-color: gray;
	/* display: flex; */
	display: none;
	text-align: center;
	justify-content: center;
	align-items: center;
	position: absolute;
	z-index: 1;
}

.pause-cover * {
	margin: 100px auto;
}

.playfield-container {
	position: relative;
}

.main {
	/*+20 пикселей для рамки*/
	width: 307px;
	height: 607px;
	margin: 20px auto 0;
	border: 3px solid black;
	font-size: 0; /*Без него между ячеками образуется пространство*/
	/* background-color: black; */
	background: rgb(154, 166, 128);
	z-index: 0;
	position: absolute;
}

.cell {
	width: 30px;
	height: 30px;
	border: 1px solid silver;
	display: inline-block;
	background-color: black;
	will-change: opacity;
}

.movingCell {
	background-color: blue;
}

.fixedCell {
	background-color: green;
}

#next-tetro {
	font-size: 0;
	position: absolute;
	top: 200px;
	left: 200px;
}

/* #game-over {
	font-size: 100px;
	text-align: center;
	color: red;
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 3;
	transform: translate(-50%, 200%);
} */

#game-over {
	width: 320px;
	height: 620px;
	margin: 20px auto 0;
	border: 10px solid silver;
	font-size: 50px; /*Без него между ячеками образуется пространство*/
	background-color: grey;
	/* display: flex; */
	display: none;
	text-align: center;
	justify-content: center;
	align-items: center;
	position: absolute;
	z-index: 1;
}

#game-over * {
	margin: 100px auto;
}
#game-over p {
	background-color: red;
}

/* #game-paused {
	font-size: 100px;
	text-align: center;
	color: white;
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 3;
	transform: translate(-50%, 200%);
} */

@font-face {
	font-family: 'segments';
	src: url(./fonts/7-segment.ttf);
	font-weight: 100;
}
